{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="manage-ad" class="manage-ad py-5">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-inner">
                    <div class="form-content">

                        <!-- Messages Section -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Form Section -->
                        <form class="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="part">
                                <h5 class="title text-center mb-4">Update Ad</h5>
                                <div class="form-element mb-3">
                                    {{ form|crispy }}
                                </div>
                                <div class="form-submit text-center">
                                    <button type="submit" class="btn btn-primary btn-active">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
