{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>SecuritiesPesa|Investment and Financial Consultancy</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'spesa/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'spesa/css/templatemo-digimedia-v1.css' %}">
    <link rel="stylesheet" href="{% static 'spesa/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'spesa/css/owl.css' %}">
    
    <script src="https://cdn.tiny.cloud/1/y0l34dm9zs3nnrc96omvprqdyztyk0mad4craj4n3dvqzqq2/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown textcolor colorpicker',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | forecolor backcolor | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
      </script>
      

</head>

    </head>

<body>
   
        {% include 'main/includes/navbar.html' %}
        <!-- {% include '../main/includes/messaging.html' %} -->
        
        {% block content %}
        
        {% endblock content %}
        
     
       {% include '../main/includes/footer.html' %}
   

    <script>
        function showSection(sectionId, linkId) {
            // Hide all sections
            var sections = document.querySelectorAll('#content > div');
            sections.forEach(function(section) {
                section.style.display = 'none';
            });
    
            // Remove the 'btn-active' class from all links
            var links = document.querySelectorAll('nav#toc a');
            links.forEach(function(link) {
                link.classList.remove('btn-active');
            });
    
            // Show the clicked section
            var sectionToShow = document.getElementById(sectionId);
            sectionToShow.style.display = 'block';
    
            // Add the 'btn-active' class to the clicked link
            var activeLink = document.getElementById(linkId);
            activeLink.classList.add('btn-active');
        }
    
        // Call showSection() with the ID of Section 1 when the page is loaded
        window.onload = function() {
            showSection('section1', 'link-section1');
        };
    </script>

<script>
    // Get the current year
    var currentYear = new Date().getFullYear();

    // Update the copyright text with the current year
    document.getElementById("copyright").innerHTML = "© " + currentYear + " SecuritiesPesa. All rights reserved";
</script>


<script>
    // Initialize CKEditor for the textarea with id 'description'
    CKEDITOR.replace('id_description', {
        toolbar: [
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
            { name: 'links', items: ['Link', 'Unlink'] }
        ],
        height: 300,
        width: 300
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('consultation-form');
        const submitButton = form.querySelector('button[type="submit"]');

        submitButton.addEventListener('click', function() {
            document.getElementById('loading-indicator').style.display = 'block';
        });
    });
</script>

<script type="text/javascript">
    function printReceipt() {
        var printContents = document.getElementById('receipt-content').innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>




    
    <!---->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'spesa/js/owl-carousel.js' %}"></script>
    <script src="{% static 'spesa/js/animation.js' %}"></script>
    <script src="{% static 'spesa/js/imagesloaded.js' %}"></script>
    <script src="{% static 'spesa/js/custom.js' %}"></script>
    
</body>
</html>
