{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container custom-container-01 " style="margin-bottom: 300px;">
    <div class="row">
        <div class="col-lg-3 justify-content-start">
            <div class="checkout-wrap">
                <nav id="toc" class="navbar navbar-dark">
                    <ul class="custom-ul">
                        <li class="nav-item">
                            <a href="#section1" onclick="showSection('section1')" class="btn-common">My Consultations</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="col-lg-9">
            <div class="dtails-wrap">
                <div id="content">
                    <div id="section1" style="display: block;">
                        <h2 class="title">My Consultations</h2>
                        <hr>
                        {% if user_consults %}
                           <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Transaction Code</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Assigned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consult in user_consults %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ consult.category }}</td>
                                            <td>{{ consult.price }}</td>
                                            <td>{% if consult.transaction_code %}
                                                {{consult.transaction_code}}
                                                {% else %}
                                                No Paid
                                                {%endif%}
                                            </td>
                                            <td>{% if consult.payment_confirmation %}
                                                Paid
                                                {% else %}
                                                Pending
                                                {% endif %}
                                            </td>
                                            <td>{% if consult.assigned  %}
                                                Assigned
                                                {% else %}
                                                Pending
                                                {% endif%}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                           </div>
                        {% else %}
                            <h2>No Consultations Found</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
