{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         {% if hero %}
         <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <h6>SecuritiesPesa</h6>
                  <h2>{{hero.title}}</h2>
                  <p>{{hero.description}}</p>
                </div>
                <div class="col-lg-12">
                  <div class="border-first-button scroll-to-section">
                    <a href="#portfolio">Consult Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              {% if hero.image %}
              <img src="{{ hero.image.url }}" alt="{{ hero_instance.title }} Image">
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <h6>SecuritiesPesa</h6>
                  <h2>Best Investment Advisor</h2>
                  <p>Access Top Certified Consultants For Online Consultations
                      We’re an Investment and Financial Advisory Platform</p>
                </div>
                <div class="col-lg-12">
                  <div class="border-first-button scroll-to-section">
                    <a href="#portfolio">Consult Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="{% static 'main/img/header/two-person.png' %}" alt="">
            </div>
          </div>
        </div>
         {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div id="risks" class="risks">
    <div class="container">
        {% if spesa %}
            <div class="text-center my-5 mt-0 text-white">
                <h4 style="color: #0d75be;">
                  {{spesa.description|safe}}
                </h4>
            </div>
        {% else %}
            <div class="text-center my-5 mt-0">
                <h2 class="text-danger" style="color: red;">
                    We ANALYZE. INTERPRET and ADVISE on Risks that affect your Financial Investments cushioning you against Shocks for Success.
                </h2>
            </div>
        {% endif %}
        
        <div class="row">
            {% for risk in risks %}
                <div class="col-md-4 mb-4 d-flex align-items-stretch">
                    <div class="risk-item text-center p-3 bg-light border-0 rounded">
                        {% if risk.icon %}
                            <img src="{{ risk.icon.url }}" alt="{{ risk.name }}" class="mb-3" style="width: 75px; height: 75px; object-fit: cover;">
                        {% else %}
                            <img src="{% static 'default/icon.png' %}" alt="Default Icon" class="mb-3" style="width: 75px; height: 75px; object-fit: cover;">
                        {% endif %}
                        <h5 class="risk-name">{{ risk.name }}</h5>
                        <p class="risk-description">{{ risk.description|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
         {% if section1 %}
         <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
          <h6>{{section1.name}}</h6>
          <h4>{{section1.tag1}}</h4>
          <p>{{section1.tag2}}</p>
        </div>
        {% else %}
        <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
          <h6>Specialities</h6>
          <h4>Chat with Top Consultants across Specialitis</h4>
          <p>Private online consultations with verified consultants in all specialists.</p>
        </div>
        {% endif %}

        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
            <div class="loop owl-carousel">
                {% if specialities %}
                    {% for speciality in specialities %}
                    <div class="item">
                        <a href="{% url 'main:consult' speciality_id=speciality.id %}" class="speciality-link">
                            <div class="speciality-item">
                                <div class="thumb" >
                                    <img src="{{ speciality.icon.url }}" alt="{{ speciality.name }}" class="round-image" style="border: 4px solid #B78F2E">
                                </div>
                                <div class="details">
                                    <h4>{{ speciality.name }}</h4>
                                    <span>Ksh. {{ speciality.price }}</span>
                                    <p>
                                        <button class="custom-button">Consult Now</button>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col">
                        <p>No specialities found.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
      </div>
    </div>
  </div>

  


  <div id="free-quote" class="free-quote">
    <div class="container">
       {% if section2 %}
       <div class="text-center my-5 mt-0 text-white">
        <h2 style="color: #eb1b24;">{{section2.name}}</h2>
        <h4>{{section2.tag1}}</h4>
        <p class="text-white">{{section2.tag2}}</p>
      </div>
      {% else %}
      <div class="text-center my-5 mt-0">
        <h2 class="text-danger" style="color: red;">Common Financial Concerns</h2>
        <p class="text-white">Consult a specialist for any Financial Issue.</p>
      </div>
      {% endif %}
      <div class="row">
        {% if concerns %}
        {% for concern in concerns %}
        <div class="col-md-3 mb-4">
          <a href="{% url 'main:fconsult' concern.id %}">
            <div class="card border-0" style="border-radius: 30px;">
                <img src="{{ concern.banner.url }}" class="card-img-top" alt="{{concern.name}}" style="height: 200px; object-fit: cover; border-radius: 30px;">
                <div class="card-body">
                  <h5 class="card-title">{{concern.name}}</h5>
                  <p class="card-text">Ksh. {{concern.price}}</p>
                  <p> 
                      <button class="custom-button">Consult Now</button>
                  </p>
                </div>
              </div>
          </a>
          </div>
     {% endfor %}
         {% endif %}
      </div>
    </div>
  </div>


  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
               
{% if panel %}

           {% for p in panel %}
          
                <img src="{{p.image.url}}" alt="">
          
        {% endfor %}
     
{% endif %}


              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                {% if panel %}
               {% for p in panel %}
               <div class="section-heading">
                <h6>{{p.name}}</h6>
                <h4>{{p.title}}</h4>
                <div class="line-dec"></div>
              </div>
              <p>{{p.description}}</p>
             
            </div>
            {% endfor %}
              {% else %}
              <div class="section-heading">
                <h6> About SecuritiesPesa1</h6>
                <h4>We empower people to make informed decisions about the economic, financial and investment issues.</h4>
                <div class="line-dec"></div>
              </div>
              <p>SecuritiesPesa is a global consulting company founded in Kenya that creates information symmetry on Securities and financial Market, and in-depth industry analyses.</p>
             
            </div>

            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  

  <div id="free-quote2" class="free-quote2">
    <div class="container">
       {% if ad %}
       <div class="text-center mt-0 text-white">
        <h2>{{ad.description|safe}}</h2>
       
      </div>
      {% else %}
      <div class="text-center mt-0">
        <h2 class="text-white">Thinking of Investing. We are there for yous. 
          CHAT. CALL. EMAIL our Specialists for an Advice at the Comfort of your PLACE. TIME and VALUE for money.
          </h2>
       
      </div>
      {% endif %}
    </div>
  </div>



  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         {% if how %}
         <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <h6>{{how.name}}</h6>
          <h4>{{how.description}}</em></h4>
          <div class="line-dec"></div>
        </div>
        {% else %}
        <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <h6>How It Works1</h6>
          <h4>Using SecuritiesPesa helps to easily connect with Specialities at a time and place suitable to you. Here, we explain how your visit works.</em></h4>
          <div class="line-dec"></div>
        </div>
        {% endif %}
        </div>

        <div class="row">
            {% if works %}
            {% for work in works %}
            <div class="col-md-3 mb-4">
            
                <div class="card" style="border-radius: 25px;">

                    <div class="card-body">
                      <h5 class="card-title">{{work.question}}</h5>
                      <p class="card-text">{{work.answer}}</p>
                     
                    </div>
                  </div>
             
              </div>
         {% endfor %}
             {% endif %}
          </div>
       
      </div>
    </div>
  </div>
{% endblock content %}
