<footer class="footer-area style-01">
    <div class="copyright-area">
        <div class="container custom-container-01">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner">
                        <p id="copyright"></p>
                        <div class="footer-social-area">
                            <ul class="social-icon-02">
                                <li><a href="#0">info@securitiespesa.com</a></li>
                                <li><a href="#0">+254 724 855305</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>