{% load static %}
 <footer>
         <div class="tpfooter__area theme-bg-1">
            <div class="tpfooter__top pb-15">
               <div class="container">
                  <div class="row pt-40">
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="tpfooter__widget footer-col-1 mb-50">
                           <h4 class="tpfooter__widget-title">Let Us Help You</h4>
                           <p>If you have any question, please <br> contact us at: 
                              <a href="mailto:support@example.com">info@healthtoday.co.ke</a>
                           </p>
                           <div class="tpfooter__widget-social mt-45">
                              <span class="tpfooter__widget-social-title mb-5">Social Media:</span>
                              <a href="#"><i class="far fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-youtube"></i></a>
                              <a href="#"><i class="fab fa-pinterest-p"></i></a>
                              <a href="#"><i class="fab fa-skype"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="tpfooter__widget footer-col-2 mb-50">
                           <h4 class="tpfooter__widget-title">Looking for Health Today</h4>
                           <p>St Ellis Building, City Hall Way,<br>
                              Nairobi, </p>
                           <div class="tpfooter__widget-time-info mt-35">
                              <span>Monday – Saturday: <b>8:10 AM – 7:30 PM</b></span>
                              <span>Sunday: <b>Close</b></span>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-2 col-lg-4 col-md-4 col-sm-5">
                        <div class="tpfooter__widget footer-col-3 mb-50">
                           <h4 class="tpfooter__widget-title">HOT CATEGORIES</h4>
                           <div class="tpfooter__widget-links">
                              <ul>
                                 {% for c in h_categories %}
                                 <li><a href="#">{{ c.name }}</a></li>
                               
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-md-8 col-sm-7">
                        <div class="tpfooter__widget footer-col-4 mb-50">
                           <h4 class="tpfooter__widget-title">Our newsletter</h4>
                           <div class="tpfooter__widget-newsletter">
                              <p>Subscribe to the healthtoday mailing list to receive updates <br> on new arrivals & other information.</p>
                              <form action="">
                                 <span><i><img src="assets/img/shape/message-1.svg" alt=""></i></span>
                                 <input type="email" placeholder="Your email address...">
                                
                                 <a class="tpfooter__widget-newsletter-submit tp-news-btn" href="mailto:info@healthtoday.co.ke">Subscribe</a>
                              </form>
                              <div class="tpfooter__widget-newsletter-check mt-10">
                                 <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                       I accept terms & conditions & privacy policy.
                                    </label>
                                  </div>                                  
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tpfooter___bottom pt-40 pb-40">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="tpfooter__copyright">
                           <span class="tpfooter__copyright-text">Copyright © <a href="https://healthtoday.co.ke/">Health Today</a> all rights reserved</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>