{% load static %}
<div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-7">
          <ul class="info">
            <li><a href="#"><i class="fa fa-envelope"></i>info@securitiespesa.com</a></li>
            <li><a href="#"><i class="fa fa-phone"></i> +254 724 855305 </a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-4 col-5">
          <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre-header End -->


  


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'main:index' %}" class="logo">
              <img src="{% static 'main/img/favicon.png' %}" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'main:index' %}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="http://securitiespesa.com/" target="_blank">About Us</a></li>
              <li class="scroll-to-section"><a href="{% url 'main:terms' %}">Terms & Conditions</a></li>
              {% if user.is_authenticated %}
              {% if user.access_level == 3 %}
                  <li><a href="{% url 'main:dashboard' %}">Dashboard</a></li>
              {% elif user.access_level == 2 %}
                  <li><a href="{% url 'main:consultant' %}">Dashboard</a></li>
              {% elif user.is_superuser or user.access_level == 1 %}
                  <li><a href="{% url 'adminstration:admin' %}">Dashboard</a></li>
              {% endif %}
          {% else %}
              <li><a href="{% url 'users:login' %}">Login</a></li>
          {% endif %}
              <li class="scroll-to-section"><a href="#">Media</a></li>
              {% if user.is_authenticated %}
              <div class="btn-wrap">
                <li class="scroll-to-section"><div class="border-first-button"><a href="{% url 'users:logout' %}">Logout</a></div></li> 
             
           </div>
          
           {% else %}
           <li class="scroll-to-section"><div class="border-first-button"><a href="{% url 'users:client_register' %}">Register Now</a></div></li> 
           {% endif %}
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>


  