{% load static %}

<div class="nav-area-wrapper-relative">
    <nav class="navbar navbar-area navbar-expand-lg navigation-style-02">
        <div class="container custom-container custom-container-01">
            <div class="responsive-menu">
                <div class="logo-wrapper">
                    <a href="{% url 'main:index' %}" class="logo">
                        <img src="{% static 'main/img/favicon.png' %}" alt="">
                    </a>
                </div>
                <button class="navbar-toggler navbar-bs-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#themeim_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="themeim_main_menu">
                <ul class="navbar-nav">
                    <li><a href="{% url 'main:index' %}">Home</a></li>
                    <li><a href="{% url 'main:blogs' %}">Blog</a></li>
                    {% if user.is_authenticated %}
                            {% if user.access_level == 3 %}
                                <li><a href="{% url 'main:dashboard' %}">Dashboard</a></li>
                            {% elif user.access_level == 2 %}
                                <li><a href="{% url 'main:consultant' %}">Dashboard</a></li>
                            {% elif user.is_superuser or user.access_level == 1 %}
                                <li><a href="{% url 'adminstration:admin' %}">Dashboard</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{% url 'users:login' %}">Login</a></li>
                        {% endif %}



                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="nav-right-content">
               {% if user.is_authenticated %}
               <div class="btn-wrap">
                <a href="{% url 'users:logout' %}" class="btn btn-primary nav-btn">Logout</a>
            </div>
            {% else %}
            <div class="btn-wrap">
                <a href="{% url 'main:u' %}" class="btn btn-primary nav-btn">Register Now</a>
            </div>
            {% endif %}
            </div>
        </div>
    </nav>
</div>